*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
.idea/
.vscode/
.DS_Store
.pytest_cache/
profiles/
venv/*
venv

CybORG\.egg-info/

_pycache_/
*.pyc

CybORG/Logs/
CybORG/Emulator/Logs/
CybORG/Emulator/logs/
CybORG/Emulator/Config/emulatorconfig.ini
docs/_build/
dist

CybORG/Shared/Config/config.ini

CybORG/Emulator/AWS/Config/awsconfig.ini

*.swp
CybORG/CybORG/Notebooks/gagif/0.png
CybORG/CybORG/Notebooks/gagif/1.png
CybORG/CybORG/Notebooks/gagif/2.png
CybORG/CybORG/Notebooks/gagif/3.png
CybORG/CybORG/Notebooks/gagif/4.png
CybORG/CybORG/Notebooks/gagif/5.png
CybORG/CybORG/Notebooks/gagif/6.png
CybORG/CybORG/Notebooks/gagif/7.png
CybORG/CybORG/Notebooks/gagif/8.png
CybORG/CybORG/Notebooks/gagif/9.png
CybORG/CybORG/Notebooks/gagif/10.png
CybORG/CybORG/Notebooks/gagif/11.png
CybORG/CybORG/Notebooks/gagif/12.png
CybORG/CybORG/Notebooks/gagif/13.png
CybORG/CybORG/Notebooks/gagif/14.png
CybORG/CybORG/Notebooks/gagif/15.png
CybORG/CybORG/Notebooks/gagif/16.png
CybORG/CybORG/Notebooks/gagif/17.png
CybORG/CybORG/Notebooks/gagif/18.png
CybORG/CybORG/Notebooks/gagif/19.png
CybORG/CybORG/Notebooks/gagif/20.png
CybORG/CybORG/Notebooks/gagif/21.png
CybORG/CybORG/Notebooks/gagif/22.png
CybORG/CybORG/Notebooks/gagif/23.png
CybORG/CybORG/Notebooks/gagif/24.png
CybORG/CybORG/Notebooks/gagif/25.png
CybORG/CybORG/Notebooks/gagif/26.png
CybORG/CybORG/Notebooks/gagif/27.png
CybORG/CybORG/Notebooks/gagif/28.png
CybORG/CybORG/Notebooks/gagif/29.png
CybORG/CybORG/Notebooks/gagif/30.png
CybORG/CybORG/Notebooks/gagif/31.png
CybORG/CybORG/Notebooks/gagif/32.png
CybORG/CybORG/Notebooks/gagif/33.png
CybORG/CybORG/Notebooks/gagif/34.png
CybORG/CybORG/Notebooks/gagif/35.png
CybORG/CybORG/Notebooks/gagif/36.png
CybORG/CybORG/Notebooks/gagif/37.png
CybORG/CybORG/Notebooks/gagif/38.png
CybORG/CybORG/Notebooks/gagif/39.png
CybORG/CybORG/Notebooks/gagif/40.png
CybORG/CybORG/Notebooks/gagif/41.png
CybORG/CybORG/Notebooks/gagif/42.png
CybORG/CybORG/Notebooks/gagif/43.png
CybORG/CybORG/Notebooks/gagif/44.png
CybORG/CybORG/Notebooks/gagif/45.png
CybORG/CybORG/Notebooks/gagif/46.png
CybORG/CybORG/Notebooks/gagif/47.png
CybORG/CybORG/Notebooks/gagif/48.png
CybORG/CybORG/Notebooks/gagif/49.png
CybORG/CybORG/Notebooks/gagif/50.png
CybORG/CybORG/Notebooks/gagif/51.png
CybORG/CybORG/Notebooks/gagif/52.png
CybORG/CybORG/Notebooks/gagif/53.png
CybORG/CybORG/Notebooks/gagif/54.png
CybORG/CybORG/Notebooks/gagif/55.png
CybORG/CybORG/Notebooks/gagif/56.png
CybORG/CybORG/Notebooks/gagif/57.png
CybORG/CybORG/Notebooks/gagif/58.png
CybORG/CybORG/Notebooks/gagif/59.png
CybORG/CybORG/Notebooks/gagif/60.png
CybORG/CybORG/Notebooks/gagif/61.png
CybORG/CybORG/Notebooks/gagif/62.png
CybORG/CybORG/Notebooks/gagif/63.png
CybORG/CybORG/Notebooks/gagif/64.png
CybORG/CybORG/Notebooks/gagif/65.png
CybORG/CybORG/Notebooks/gagif/66.png
CybORG/CybORG/Notebooks/gagif/67.png
CybORG/CybORG/Notebooks/gagif/68.png
CybORG/CybORG/Notebooks/gagif/69.png
CybORG/CybORG/Notebooks/gagif/70.png
CybORG/CybORG/Notebooks/gagif/71.png
CybORG/CybORG/Notebooks/gagif/72.png
CybORG/CybORG/Notebooks/gagif/73.png
CybORG/CybORG/Notebooks/gagif/74.png
CybORG/CybORG/Notebooks/gagif/75.png
CybORG/CybORG/Notebooks/gagif/76.png
CybORG/CybORG/Notebooks/gagif/77.png
CybORG/CybORG/Notebooks/gagif/78.png
CybORG/CybORG/Notebooks/gagif/79.png
CybORG/CybORG/Notebooks/gagif/80.png
CybORG/CybORG/Notebooks/gagif/81.png
CybORG/CybORG/Notebooks/gagif/82.png
CybORG/CybORG/Notebooks/gagif/83.png
CybORG/CybORG/Notebooks/gagif/84.png
CybORG/CybORG/Notebooks/gagif/85.png
CybORG/CybORG/Notebooks/gagif/86.png
CybORG/CybORG/Notebooks/gagif/87.png
CybORG/CybORG/Notebooks/gagif/88.png
CybORG/CybORG/Notebooks/gagif/89.png
CybORG/CybORG/Notebooks/gagif/90.png
CybORG/CybORG/Notebooks/gagif/91.png
CybORG/CybORG/Notebooks/gagif/92.png
CybORG/CybORG/Notebooks/gagif/93.png
CybORG/CybORG/Notebooks/gagif/94.png
CybORG/CybORG/Notebooks/gagif/95.png
CybORG/CybORG/Notebooks/gagif/96.png
CybORG/CybORG/Notebooks/gagif/97.png
CybORG/CybORG/Notebooks/gagif/98.png
CybORG/CybORG/Notebooks/gagif/99.png
CybORG/CybORG/Notebooks/gagif/100.png
CybORG/CybORG/Notebooks/gagif/101.png
CybORG/CybORG/Notebooks/gagif/102.png
CybORG/CybORG/Notebooks/gagif/103.png
CybORG/CybORG/Notebooks/gagif/104.png
CybORG/CybORG/Notebooks/gagif/105.png
CybORG/CybORG/Notebooks/gagif/106.png
CybORG/CybORG/Notebooks/gagif/107.png
CybORG/CybORG/Notebooks/gagif/108.png
CybORG/CybORG/Notebooks/gagif/109.png
CybORG/CybORG/Notebooks/gagif/110.png
CybORG/CybORG/Notebooks/gagif/111.png
CybORG/CybORG/Notebooks/gagif/112.png
CybORG/CybORG/Notebooks/gagif/113.png
CybORG/CybORG/Notebooks/gagif/114.png
CybORG/CybORG/Notebooks/gagif/115.png
CybORG/CybORG/Notebooks/gagif/116.png
CybORG/CybORG/Notebooks/gagif/117.png
CybORG/CybORG/Notebooks/gagif/118.png
CybORG/CybORG/Notebooks/gagif/119.png
CybORG/CybORG/Notebooks/gagif/120.png
CybORG/CybORG/Notebooks/gagif/121.png
CybORG/CybORG/Notebooks/gagif/122.png
CybORG/CybORG/Notebooks/gagif/123.png
CybORG/CybORG/Notebooks/gagif/124.png
CybORG/CybORG/Notebooks/gagif/125.png
CybORG/CybORG/Notebooks/gagif/126.png
CybORG/CybORG/Notebooks/gagif/127.png
CybORG/CybORG/Notebooks/gagif/128.png
CybORG/CybORG/Notebooks/gagif/129.png
CybORG/CybORG/Notebooks/gagif/130.png
CybORG/CybORG/Notebooks/gagif/131.png
CybORG/CybORG/Notebooks/gagif/132.png
CybORG/CybORG/Notebooks/gagif/133.png
CybORG/CybORG/Notebooks/gagif/134.png
CybORG/CybORG/Notebooks/gagif/135.png
CybORG/CybORG/Notebooks/gagif/136.png
CybORG/CybORG/Notebooks/gagif/137.png
CybORG/CybORG/Notebooks/gagif/138.png
CybORG/CybORG/Notebooks/gagif/139.png
CybORG/CybORG/Notebooks/gagif/140.png
CybORG/CybORG/Notebooks/gagif/141.png
CybORG/CybORG/Notebooks/gagif/142.png
CybORG/CybORG/Notebooks/gagif/143.png
CybORG/CybORG/Notebooks/gagif/144.png
CybORG/CybORG/Notebooks/gagif/145.png
CybORG/CybORG/Notebooks/gagif/146.png
CybORG/CybORG/Notebooks/gagif/147.png
CybORG/CybORG/Notebooks/gagif/148.png
CybORG/CybORG/Notebooks/gagif/149.png
CybORG/CybORG/Notebooks/gagif/150.png
CybORG/CybORG/Notebooks/gagif/151.png
CybORG/CybORG/Notebooks/gagif/152.png
CybORG/CybORG/Notebooks/gagif/153.png
CybORG/CybORG/Notebooks/gagif/154.png
CybORG/CybORG/Notebooks/gagif/155.png
CybORG/CybORG/Notebooks/gagif/156.png
CybORG/CybORG/Notebooks/gagif/157.png
CybORG/CybORG/Notebooks/gagif/158.png
CybORG/CybORG/Notebooks/gagif/159.png
CybORG/CybORG/Notebooks/gagif/160.png
CybORG/CybORG/Notebooks/gagif/161.png
CybORG/CybORG/Notebooks/gagif/162.png
CybORG/CybORG/Notebooks/gagif/163.png
CybORG/CybORG/Notebooks/gagif/164.png
CybORG/CybORG/Notebooks/gagif/165.png
CybORG/CybORG/Notebooks/gagif/166.png
CybORG/CybORG/Notebooks/gagif/167.png
CybORG/CybORG/Notebooks/gagif/168.png
CybORG/CybORG/Notebooks/gagif/169.png
CybORG/CybORG/Notebooks/gagif/170.png
CybORG/CybORG/Notebooks/gagif/171.png
CybORG/CybORG/Notebooks/gagif/172.png
CybORG/CybORG/Notebooks/gagif/173.png
CybORG/CybORG/Notebooks/gagif/174.png
CybORG/CybORG/Notebooks/gagif/175.png
CybORG/CybORG/Notebooks/gagif/176.png
CybORG/CybORG/Notebooks/gagif/177.png
CybORG/CybORG/Notebooks/gagif/178.png
CybORG/CybORG/Notebooks/gagif/179.png
CybORG/CybORG/Notebooks/gagif/180.png
CybORG/CybORG/Notebooks/gagif/181.png
CybORG/CybORG/Notebooks/gagif/182.png
CybORG/CybORG/Notebooks/gagif/183.png
CybORG/CybORG/Notebooks/gagif/184.png
CybORG/CybORG/Notebooks/gagif/185.png
CybORG/CybORG/Notebooks/gagif/186.png
CybORG/CybORG/Notebooks/gagif/187.png
CybORG/CybORG/Notebooks/gagif/188.png
CybORG/CybORG/Notebooks/gagif/189.png
CybORG/CybORG/Notebooks/gagif/190.png
CybORG/CybORG/Notebooks/gagif/191.png
CybORG/CybORG/Notebooks/gagif/192.png
CybORG/CybORG/Notebooks/gagif/193.png
CybORG/CybORG/Notebooks/gagif/194.png
CybORG/CybORG/Notebooks/gagif/195.png
CybORG/CybORG/Notebooks/gagif/196.png
CybORG/CybORG/Notebooks/gagif/197.png
CybORG/CybORG/Notebooks/gagif/198.png
CybORG/CybORG/Notebooks/gagif/199.png
CybORG/CybORG/Notebooks/8_data_s_archive.npy
CybORG/CybORG/Notebooks/8_data_s_evals.npy
CybORG/CybORG/Notebooks/8_data_s_maxs.npy
CybORG/CybORG/Notebooks/8_data_s_means.npy
CybORG/CybORG/Notebooks/8_data_s_nov.npy
CybORG/CybORG/Notebooks/8_data_s.zip
